@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
  background-image:url('track.png');
  background-size: auto;
  background-repeat: no-repeat;

}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#DDCCEE;
}

.lead {
    color:#DDCCEE;
}


/* Custom container*/
.container-max {
  margin: 0 auto;
  width: 100%;
  min-height:100%;

  
  color:#eee;
  overflow:hidden;
}

.container-max a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

